{
  "plugins": [
    "transform-runtime",
    {
      "polyfill": false,
      "regenerator": true,
    }
  ],
  "presets": [
    "env", [
      "latest",
      {
        "es2015": {
          "modules": false,
        },
      },
    ],
    "react",
    "stage-0",
  ],
}
